/* Error: There is no module with the namespace "variables".
 *    ,
 * 12 |     background-color: variables.$primary-color;
 *    |                       ^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\main.scss 12:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "variables".\a    \2577 \a 12 \2502      background-color: variables.$primary-color;\d\a    \2502                        ^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\main.scss 12:23  root stylesheet';
}
